.menu-icon {
    width: 30px;
    transform: translateY(6px);
    margin-right: 5px;
    opacity: 0.7;
}

.light .menu-icon {
    opacity: 1;
}


.chapter > .chapter-item > .toggle {
    display: none;
}

svg {
    border-radius: 6px;
}

#disqus_thread {
    padding-top: 100px;
}

#disqus_thread > iframe {
    color-scheme: normal;
}

.menu-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    /* color: transparent; */
}

.light .menu-title, 
.rust .menu-title {
    background-image: url(/.gitbook/assets/semaphore-docs-light.png);
}

.coal .menu-title, 
.navy .menu-title, 
.ayu .menu-title {
    background-image: url(/.gitbook/assets/semaphore-docs-dark.png);
}