/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Custom styles from mdbook theme */

/* Content styles */
.markdown img {
  border-radius: 6px;
}

html[data-theme='light'] .markdown img {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(150,150,150,0.1);
}

.warning {
  color: #e7811d;
}

/* Tabs styles */
.mdbook-tabs {
  display: flex;
}

.mdbook-tab {
  background-color: var(--ifm-table-stripe-background);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  line-height: 1.45em;
}

.mdbook-tab.active {
  background-color: var(--ifm-table-background);
  font-weight: bold;
}

.mdbook-tab-content {
  padding: 1rem 0rem;
}

.mdbook-tab-content table {
  margin: unset;
}
